.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 2px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

.para{
    color: var(--text-color);
    font: normal 600 16px/25px var(--roboto);
}

/* ----------------------------------Fin About-------------------------------------- */

/* --------------------------------------Brand-------------------------------------- */

.h4s{
    font-family: var(--roboto);
}

.site-main .brand-area{
    padding: 1rem 16rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: all .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 80%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}

.site-main .brand-area .expirience-area{
    padding-left: 1rem;
}

.site-main .brand-area .expirience-area span{
    display: block;
}

.site-main .brand-area .expirience-area .years-area{
    background-image: url(../img/client-info-bg.png);
    background-repeat: no-repeat;
    background-position: 30px 0px;
    padding: 2rem 0;
    width: 20rem;
    height: 15rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .expirience-area .bg-panel{
    position: absolute;
    left: -250px;
    top: 0%;
    background: rgba(250, 248, 255, 0.555);
    width: 370px;
    height: 370px;
    margin-left: 340px;
    z-index: -1;

    -webkit-box-shadow: 9px 5px 19px -6px rgba(0,0,0,0.66);
    -moz-box-shadow: 9px 5px 19px -6px rgba(0,0,0,0.66);
    box-shadow: 9px 5px 19px -6px rgba(0,0,0,0.66);
}

.site-main .brand-area .expirience-area .years-area .years{
    font-family: var(--roboto);
    font-weight: bold;
    font-size: 120px;
    margin-top: -32px;
    margin-left: -20px;
    color: var(--primary-color2);
    z-index: 2;
    transition: all 0.5s;
}

.site-main .brand-area .expirience-area .years-area .years:hover{
    font-size: 135px;
    transform:translate(-45px, -12px);
}


.site-main .brand-area .expirience-area .years-area h2{
    margin-top: 30px;
    margin-left: 5px;
}

.site-main .brand-area .expirience-area .years-area h2 > span{
    font: normal 600 22px/25px var(--roboto);
}

.site-main .brand-area .expirience-area .call-area{
    padding-left: 7rem;
}

.site-main .brand-area .expirience-area .call-area .call-now a{
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.5s;
}

.site-main .brand-area .expirience-area .call-area .call-now a:hover{
    font-size: 22px;
    font-weight: bolder;
    color: var(--primary-color2);

}

.site-main .brand-area .expirience-area .call-area .call-now span{
    font-size: 14px;
    color: #A7A7A7;
    letter-spacing: 0px;
    margin-left: 15px;
}

.brand-area .ctn_lgs{
    max-width: 1000px;
}

.letter.out{
    display: none;
}

/* ----------------------------------Fin Brand-------------------------------------- */

/* ----------------------------------Servicios-------------------------------------- */
.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0.14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.97);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: all 0.5s;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
    background: rgba(250, 248, 255, 0.884);
}

.site-main > .services-area .services .card-body h5{
    font-weight: bolder;
}

/* ----------------------------------Fin Servicios---------------------------------- */

/* ----------------------------------portfolio---------------------------------- */
.site-main .project-area{
    padding: 3rem 0;
    display: block;
    position: relative;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 600 14px/130px var(--roboto);
    text-transform: uppercase;
    color: var(--primary-color);
}

.site-main .project-area .button-group button:hover{
    color: var(--primary-color2);
    font-size: 16px;
    font-weight: bold;
}

.site-main .project-area .button-group button:active{
    color: var(--primary-color2);
    font-size: 16px;
    font-weight: bold;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 600 25px/12px var(--roboto);
}

button:focus, button:active, button:hover, .btn:active, .btn.active{
    outline: 0px !important;
    box-shadow: none;
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

.title-h1{
    font: normal bold 39px/40px var(--roboto);
}

/* ----------------------------------Fin portfolio---------------------------------- */

/* ----------------------------------Suscripcion---------------------------------- */
.site-main .subscribe-us-area{
    margin-top: -70px;
    display: block;
    position: relative;
}

.contCenter{
    justify-content: center;
}

.site-main .subscribe-us-area .subscribe{
    background: url(../img/subscribe-bg.png);
    background-repeat: no-repeat;
    padding: 7rem 0;
    margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 600 30px/30px var(--roboto);
    /* color: whitesmoke; */
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 360px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    /* background: transparent; */
    color: black;
    text-align: center;
    font: normal 600 17px/20px var(--roboto);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input:focus{
    background-color: transparent;
    outline: 0px !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.textMessage{
    width: 360px;
    height: 50px;
    padding: 1.5rem 1rem;
    /* background: transparent; */
    color: black;
    text-align: center;
    font: normal 600 17px/20px var(--roboto);

    resize: vertical;
    min-height: 75px;
    max-height: 170px;
}

.textMessage:focus{
    background-color: transparent;

    outline: 0px !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input:active{
    outline: 0px !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
    padding: .7rem 2rem;
}

.col-sm-12.element-item{
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
}
