<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Portfolio</title>
    <link rel="shortcut icon" type="image/ico" href="recursos/img/favicon.ico">

<meta name="theme-color" content="#fddb3a">

    <!-- Ios -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="recursos/img/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link href="recursos/img/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link href="recursos/img/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image">
    <link href="recursos/img/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image">
    <link href="recursos/img/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link href="recursos/img/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link href="recursos/img/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"> 

    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Portfolio">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
<link href="styles/app.min.css?14dcc8308f3c5d32346a" rel="stylesheet"></head>
<body>
    <div class="ctn_404">
        <div class="lamp">
            <div class="barra"></div>
            <div class="superior">
                <div class="luz"></div>
            </div>
            <div class="bombillo"></div>
        </div>
        <div class="fila_center">
            <h1>Pagina no encontrada</h1>
            <p>
                Lo sentimos, la página que estaba buscando no se encuentra aquí. El enlace que siguió puede estar roto o ya no existe. Inténtalo de nuevo o echa un vistazo a nuestro sitio.
            </p>
            <a href="index.html">Pagina Principal</a>
        </div>
    </div>
<script src="recursos/js/bundle.min.js?14dcc8308f3c5d32346a"></script></body>
</html>