{{> header}}
<svg viewBox="0 0 500 150" preserveAspectRatio="none">
    <defs>
        <linearGradient id="shape-gradient" x2="0.5" y2="1">
            <stop offset="0%" stop-color="rgba(57,56,61,1)" />
            <stop offset="60%" stop-color="#fddc3a75" />
            <stop class="white_col" offset="100%" stop-color="rgba(255,255,255,0)" />
        </linearGradient>
    </defs>
    <path d="M273.42,-0.48 C141.92,105.09 323.64,77.45 273.98,153.45 L0.00,150.00 L0.00,0.00 Z" style="stroke: none;">
    </path>
</svg>
<!-- --------------------------------------Banner-------------------------------------- -->
<section id="sec1" class="side-banner">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-12 site-title text-center">
                <h1 class="title-text" id="titlePage">Portfolio Harold Pedraza</h1>
                <h4 class="title-text">
                    <span class="pdr">Diseño <span class="esconder3">y</span>
                        Desarrollo <span class="esconder3">de</span></span>
                    <span class="word palabraUno"> Apps</span>
                    <span class="word palabraDos"> Webs</span>
                    <span class="word palabraTres"> Ideas</span>
                </h4>
                <div class="site-buttons">
                    <div class="d-flex flex-row flex-wrap">
                        <a href="https://wa.link/fd3g27" target="_blank" type="button"
                            class="btn button primary-button text-uppercase">
                            Contratame</a>
                        <a href="#sec4" type="button" class="btn button secondary-button text-uppercase">
                            Ver portafolio</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 banner-image margenArriba-50 wow bounceInRight" data-wow-duration="1s">
                <img src="recursos/img/banner-image.png" alt="Banner" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section id="sec2" class="about-area">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-md-12 esconder4 wow bounceInLeft" data-wow-offset="10">
                <div class="about-image">
                    <img src="recursos/img/about-us.png" alt="Sobre nosotros" class="img-fluid">
                </div>
            </div>

            <div class="col-lg-6 col-md-12 about-title">
                <h2 class="text-uppercase pt-5 wow bounceInUp" data-wow-offset="10">
                    <span>Sobre Mi</span>
                </h2>

                <div class="paragraph py-4 wow bounceInRight" data-wow-offset="10">
                    <p class="para">
                        Estudiante de septimo semestre de ingenieria en sistemas en la universidad minuto de dios,
                        residente de Funza Cundinamarca, tengo 21 años y soy apasionado por el desarrollo web y movil.
                    </p>
                    <p class="para">
                        Tengo conocimiento en lo relacionado con el Front-End en lenguajes como Javacript, HTML y CSS -
                        Frameworks como Angular, Bootstrap, Jquery y Ajax - procesadores como TypeScript, Sass y
                        Handlebars - Tecnologias como Webpack, Gulp, Github y Npm.
                    </p>
                    <p class="para">
                        Conocimiento en Back-End, donde he utilizado lenguajes como PHP y NodeJs - Bases de datos como
                        Mysql y MongoDB.
                    </p>
                    <p class="para">
                        Interesado en seguir aprendiendo de mas temas de desarrollo, por eso me encuentro aprendiendo
                        Firebase, reforzando NodeJS, conceptos de PWA y Flutter.
                    </p>
                </div>

                <button type="button" class="btn button primary-button text-uppercase wow bounceInDown"
                    data-wow-offset="10">
                    download cv
                </button>

            </div>

        </div>
    </div>
</section> <!-- ----------------------------------Servicios-------------------------------------- -->

<div id="sec3" class="services-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center services-title">
                <h1 class="title-text">
                    Servicios a ofrecer
                </h1>
                <p class="para">
                    Con los conocimiento adquridos me encuentro en la posibilidad de poder brindar mis servicios como:
                </p>
            </div>
        </div>

        <div class="container services-list">
            <div class="row">
                <!-- Primero servicio -->
                <div class="col-lg-3 col-md-6 col-sm-12 wow zoomInDown" data-wow-offset="10">
                    <div class="services">

                        <div class="services-img text-center py-4">
                            <a href="planes.html"><img src="recursos/img/s1.png" alt="Servicio"></a>
                        </div>

                        <div class="card-body text-center">
                            <h5 class="card-tile h4s text-uppercase">Desarrollo Web</h5>
                            <p class="card-text text-secondary">
                                Desarrollo de sitios web funcionales al 100% y creacion de plataformas administrativas.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- segundo servicio -->
                <div class="col-lg-3 col-md-6 col-sm-12 wow zoomInDown" data-wow-offset="10">
                    <div class="services">

                        <div class="services-img text-center py-4">
                            <img src="recursos/img/s2.png" alt="Servicio">
                        </div>

                        <div class="card-body text-center">
                            <h5 class="card-tile h4s text-uppercase">Diseño Ux/ui</h5>
                            <p class="card-text text-secondary">
                                Referente al diseño de alguna plataforma, brindo una aplicacion de lograr una buena
                                experiencia de usuario.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tercero servicio -->
                <div class="col-lg-3 col-md-6 col-sm-12 wow zoomInDown" data-wow-offset="10">
                    <div class="services">

                        <div class="services-img text-center py-4">
                            <img src="recursos/img/s3.png" alt="Servicio">
                        </div>

                        <div class="card-body text-center">
                            <h5 class="card-tile h4s text-uppercase">Diseño web</h5>
                            <p class="card-text text-secondary">
                                Diseño de sitios web y apps estaticos o dinamicos desarrollados con tendencias de diseño
                                actuales.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- cuarto servicio -->
                <div class="col-lg-3 col-md-6 col-sm-12 wow zoomInDown" data-wow-offset="10">
                    <div class="services">

                        <div class="services-img text-center py-4">
                            <img src="recursos/img/s4.png" alt="Servicio">
                        </div>

                        <div class="card-body text-center">
                            <h5 class="card-tile h4s text-uppercase">seo</h5>
                            <p class="card-text text-secondary">
                                Aplicacion de seo organico, utilizando ciertos estandares actuales e integracion con
                                plataformas sem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ----------------------------------Project area----------------------------------- -->
<div id="sec4" class="project-area">
    <div class="container">
        <div class="project-title pb-1">
            <h1 class="text-uppercase title-h1 text-center">Proyectos realizados</h1>
        </div>

        <div class="button-group d-flex justify-content-center ctn_btns_galery">
            <button type="button" id="btn-1" class="active">Todos</button>
            <button type="button" data-filter=".popular">Popular</button>
            <button type="button" data-filter=".latest">Ultimos</button>
            <button type="button" data-filter=".pronto">Pronto</button>
        </div>

        <div class="row grid ctn_projects">

            <!-- primero -->
            <div class="col-lg-4 col-md-6 col-sm-12 element-item latest mt-3">
                <div class="our-project">
                    <div class="img">
                        <a href="portfolio">
                            <img src="recursos/img/p1.png" width="100%" alt="portafolio">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase"><a href="#" class="linksO" title="Ver mas">Maquetación youtube</a>
                        </h4>
                        <span class="text-secondary">Ultimos, portfolio</span>
                    </div>
                </div>
            </div>

            <!-- segundo -->
            <div class="col-lg-4 col-md-6 col-sm-12 element-item popular mt-3">
                <div class="our-project">
                    <div class="img">
                        <a href="portfolio">
                            <img src="recursos/img/p2.png" width="100%" alt="portafolio">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase"><a href="#" class="linksO" title="Ver mas">Maquetación Tecnocolor</a>
                        </h4>
                        <span class="text-secondary">Popular, portfolio</span>
                    </div>
                </div>
            </div>
            <!-- tercero -->
            <div class="col-lg-4 col-md-6 col-sm-12 element-item popular mt-3">
                <div class="our-project">
                    <div class="img">
                        <a href="portfolio">
                            <img src="recursos/img/p3.png" width="100%" alt="portafolio">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase"><a href="#" class="linksO" title="Ver mas">Moda Jeans ML</a></h4>
                        <span class="text-secondary">Ultimos, portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item popular mt-3">
                <div class="our-project">
                    <div class="img">
                        <a href="portfolio">
                            <img src="recursos/img/p4.png" width="100%" alt="portafolio">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase"><a href="#" class="linksO" title="Ver mas">Plataforma brands</a></h4>
                        <span class="text-secondary">Popular, portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item latest mt-3">
                <div class="our-project">
                    <div class="img">
                        <a href="portfolio">
                            <img src="recursos/img/p5.png" width="100%" alt="portafolio">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase"><a href="#" class="linksO" title="Ver mas">Landing Page</a></h4>
                        <span class="text-secondary">Ultimos, portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item popular mt-3">
                <div class="our-project">
                    <div class="img">
                        <a href="portfolio">
                            <img src="recursos/img/p6.png" width="100%" alt="portafolio">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase"><a href="#" class="linksO" title="Ver mas">Plataforma IOT</a></h4>
                        <span class="text-secondary">popular, portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item latest mt-3">
                <div class="our-project">
                    <div class="img">
                        <a href="portfolio">
                            <img src="recursos/img/p7.png" width="100%" alt="portafolio">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase"><a href="#" class="linksO" title="Ver mas">Theme landing page</a>
                        </h4>
                        <span class="text-secondary">Ultimos, portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item latest mt-3">
                <div class="our-project">
                    <div class="img">
                        <a href="portfolio">
                            <img src="recursos/img/p8.png" width="100%" alt="portafolio">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase"><a href="#" class="linksO" title="Ver mas">Web tecnico sistemas</a>
                        </h4>
                        <span class="text-secondary">Ultimos, portfolio</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> <!-- ----------------------------------Suscripcion----------------------------------- -->
<section id="sec5" class="subscribe-us-area">
    <div class="container subscribe wow jackInTheBox" data-wow-offset="10">
        <div class="row">
            <div class="col-lg-12 text-center subscribe-title">
                <h4 class="text-uppercase mb-3">
                    Deseas dejar algun mensaje?
                </h4>
            </div>
        </div>

        <div class="d-sm-flex contCenter">
            <form action="" class="w-50">
                <div class="row d-flex flex-row flex-wrap formulario">

                    <div class="col input-textbox mb-3">
                        <input id="txtnombre" class="form-control" placeholder="Tu nombre">
                    </div>

                    <div class="col-12 input-textbox mb-3">
                        <input id="txtemail" class="form-control" placeholder="Tu email" required>
                    </div>

                    <div class="form-group input-textbox ml-3">
                        <textarea class="form-control textMessage" placeholder="Tu mensaje" cols="1"
                            rows="2"></textarea>
                    </div>

                    <div class="col btn-submit">
                        <button type="submit" class="btn btn-dark btn-block wow tada" data-wow-duration="1s"
                            data-wow-delay="1s">Enviar</button>
                    </div>

                </div>
            </form>
        </div>

    </div>
</section>
{{> footer}}