<!-- ----------------------------------Servicios-------------------------------------- -->

<div id="sec3" class="services-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center services-title">
                <h1 class="title-text">
                    Servicios a ofrecer
                </h1>
                <p class="para">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Alias iusto facere aliquid modi, provident temporibus?
                </p>
            </div>
        </div>

        <div class="container services-list">
            <div class="row">
                <!-- Primero servicio -->
                <div class="col-lg-3 col-md-6 col-sm-12 wow zoomInDown" data-wow-offset="10">
                    <div class="services">

                        <div class="services-img text-center py-4">
                            <a href="planes.html"><img src="recursos/img/s1.png" alt="Servicio"></a>
                        </div>

                        <div class="card-body text-center">
                            <h5 class="card-tile h4s text-uppercase">Wp developer</h5>
                            <p class="card-text text-secondary">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, nulla? Nam, nulla?
                            </p>
                        </div>
                    </div>
                </div>
                <!-- segundo servicio -->
                <div class="col-lg-3 col-md-6 col-sm-12 wow zoomInDown" data-wow-offset="10">
                    <div class="services">

                        <div class="services-img text-center py-4">
                            <img src="recursos/img/s2.png" alt="Servicio">
                        </div>

                        <div class="card-body text-center">
                            <h5 class="card-tile h4s text-uppercase">ux/ui design</h5>
                            <p class="card-text text-secondary">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, nulla? Nam, nulla?
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tercero servicio -->
                <div class="col-lg-3 col-md-6 col-sm-12 wow zoomInDown" data-wow-offset="10">
                    <div class="services">

                        <div class="services-img text-center py-4">
                            <img src="recursos/img/s3.png" alt="Servicio">
                        </div>

                        <div class="card-body text-center">
                            <h5 class="card-tile h4s text-uppercase">Web design</h5>
                            <p class="card-text text-secondary">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, nulla? Nam, nulla?
                            </p>
                        </div>
                    </div>
                </div>
                <!-- cuarto servicio -->
                <div class="col-lg-3 col-md-6 col-sm-12 wow zoomInDown" data-wow-offset="10">
                    <div class="services">

                        <div class="services-img text-center py-4">
                            <img src="recursos/img/s4.png" alt="Servicio">
                        </div>

                        <div class="card-body text-center">
                            <h5 class="card-tile h4s text-uppercase">seo</h5>
                            <p class="card-text text-secondary">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, nulla? Nam, nulla?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>