{{> partials/repetidos/header}}

<div class="ctn_projects">
    <div class="file">
        <div class="projects_desc">
            <h1>Mi proyecto</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat earum culpa quam, exercitationem maxime quibusdam iusto aut dicta unde debitis sit mollitia, nulla itaque quis est totam, praesentium modi perspiciatis!
            </p>
        </div>

        <div class="projects_languages">
            <div class="projects_img">
                <img src="recursos/img/banner-image.png" alt="My project">
            </div>
            <div class="languages">
                <div class="scroll">
                    <ul>
                        <li><a href="#">Html</a></li>
                        <li><a href="#">Css</a></li>
                        <li><a href="#">Javascript</a></li>
                        <li><a href="#">Bootstrap</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>

{{> partials/repetidos/footer}}
 