<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>

    <link rel="shortcut icon" type="image/ico" href="recursos/img/favicon.ico"/>
    {{!-- <link rel="manifest" href="manifest.json"> --}}

    <!-- Android -->
    <meta name="theme-color" content="#fddb3a">

    <!-- Ios -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="recursos/img/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="recursos/img/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="recursos/img/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="recursos/img/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="recursos/img/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="recursos/img/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="recursos/img/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" /> 

    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Portfolio">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8612f68d80.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../../dist/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.0/venobox.min.css" integrity="sha256-eZ4MXexOGPp9GT5Pp7H5q1an94dRqVvON+6KQ25pmiE=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha512-doJrC/ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrENF03M+TYBP92PnYUlXFH1ZW0FpLw==" crossorigin="anonymous" />    
</head>
<body>

<div id="particles-js"></div>

    <span class="ir-arriba">
    <i class="fas fa-arrow-circle-up fa-2x"></i>
    </span>

    <div class="ctn_pre_header" style="display:none;"></div>

    <header class="header_area">
        <div class="main-menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="recursos/img/logo.png" id="imagenLogo" alt="Logo portfolio">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"></div><!-- Posiciono a la derecha -->
                    
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                    <a class="nav-link" href="index.html#sec1">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="index.html#sec2">Sobre mi</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="index.html#sec3">Servicios</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="index.html#sec4">Portafolio</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="index.html#sec5">Contactame</a>
                    </li>

                    <button class="darkMode" id="darkMode" estado="0">
                    <span><i class="fas fa-sun"></i></span>
                    <span><i class="fas fa-moon"></i></span>
                    </button>

                </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="site-main">