<!-- ----------------------------------Footer----------------------------------- -->
<div class="footer-area">
  <div class="footer-img">
  </div>
  <div class="container">

    <div class="social text-center" style="bottom: 0">
      <h5 class="text-uppercase mt-4">Sigueme</h5>
      <a href="#"><i class="wow heartBeat fab fa-facebook" data-wow-Duration="1s"></i></a>
      <a href="#"><i class="wow heartBeat fab fa-instagram" data-wow-Duration="1s" data-wow-delay="1s"></i></a>
      <a href="#"><i class="wow heartBeat fab fa-youtube" data-wow-Duration="1s" data-wow-delay="2s"></i></a>
    </div>

    <div class="copyrights text-center mt-5">
      <p class="parm">
        <span class="esconder2">Copyright</span> &copy;2019 <span class="esconder">todos los derechos reservados
        </span>| Hecha por
        <a href="www.instagram.com/solucionesinformaticas1" target="_blank" style="text-decoration: none;">
          <span style="color: var(--primary-color);">Soluciones Informaticas</span>
        </a>
      </p>
    </div>

  </div>
</div>

<!-- ----------------------------------Fin footer------------------------------- -->

</main>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous"></script>
</body>

</html>