<section class="brand-area">
    <div class="container-fluid ctn_lgs">
        <div class="row">

            <div class="col-xl-6 col-lg-12 col-md-12">

                <div class="first-row row" data-wow-offset="10">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="recursos/img/logo1.png" alt="Marca">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="recursos/img/logo2.png" alt="Marca">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="recursos/img/logo3.png" alt="Marca">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="recursos/img/logo4.png" alt="Marca">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="recursos/img/logo5.png" alt="Marca">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="recursos/img/logo6.png" alt="Marca">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="recursos/img/logo7.png" alt="Marca">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="recursos/img/logo8.png" alt="Marca">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-brand">
                            <img src="recursos/img/logo9.png" alt="Marca">
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-6 col-lg-12 col-md-12 margenArriba-30">
                <div class="expirience-area">
                    <div class="d-flex flex-row years-area">
                        <h2 class="p-3 years">3</h2>
                        <h2>
                            <span>Años de</span>
                            <span style="margin-left: 10px;">experiencia</span>
                            <span style="margin-left: 20px;">trabajando.</span>
                        </h2>
                    </div>

                    <div class="d-flex flex-row flex-wrap call-area">
                        <span>
                            <a href="" style="text-decoration: none; color: black;">
                                <i class="fas fa-phone-alt fa-2x px-2"></i>
                            </a>
                        </span>
                        <div class="call-now">
                            <a href="#" class="h4 h4s">Contacto</a>
                            <span class="h4s">(+57) 314-456-18-13</span>
                        </div>
                    </div>

                    <div class="bg-panel"></div>

                </div>
            </div>

        </div>
    </div>
</section>