<!-- --------------------------------------Banner-------------------------------------- -->
<section id="sec1" class="side-banner">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-12 site-title text-center">
                <h1 class="title-text" id="titlePage">SOLUCIONES INFORMATICAS</h1>
                <h4 class="title-text">
                    <span class="pdr">Diseñamos <span class="esconder3">y</span>
                        Desarrollamos <span class="esconder3">tus</span></span>
                    <span class="word palabraUno"> Apps</span>
                    <span class="word palabraDos"> Webs</span>
                    <span class="word palabraTres"> Ideas</span>
                </h4>
                <div class="site-buttons">
                    <div class="d-flex flex-row flex-wrap">
                        <button type="button" class="btn button primary-button text-uppercase">
                            Contratame</button>
                        <button type="button" class="btn button secondary-button text-uppercase">
                            Ver portafolio</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 banner-image margenArriba-50 wow bounceInRight" data-wow-Duration="1s">
                <img src="recursos/img/banner-image.png" alt="Banner" class="img-fluid">
            </div>
        </div>
    </div>
</section>