<!-- --------------------------------------About-------------------------------------- -->

<section id="sec2" class="about-area">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-md-12 esconder4 wow bounceInLeft" data-wow-offset="10">
                <div class="about-image">
                    <img src="recursos/img/about-us.png" alt="Sobre nosotros" class="img-fluid">
                </div>
            </div>

            <div class="col-lg-6 col-md-12 about-title">
                <h2 class="text-uppercase pt-5 wow bounceInUp" data-wow-offset="10">
                    <span>Sobre</span>
                    <span>Nosotros</span>
                </h2>

                <div class="paragraph py-4 wow bounceInRight" data-wow-offset="10">
                    <p class="para">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Natus fugiat eligendi hic incidunt porro tempore eius ut dolores,
                        blanditiis autem!
                    </p>
                    <p class="para">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Natus fugiat eligendi hic incidunt porro tempore eius ut dolores,
                        blanditiis autem! incidunt porro tempore eius ut dolores,
                        blanditiis autem!
                    </p>
                </div>

                <button type="button" class="btn button primary-button text-uppercase wow bounceInDown"
                    data-wow-offset="10">
                    download cv
                </button>

            </div>

        </div>
    </div>
</section>