<!-- --------------------------------------About-------------------------------------- -->

<section id="sec2" class="about-area">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-md-12 esconder4 wow bounceInLeft" data-wow-offset="10">
                <div class="about-image">
                    <img src="recursos/img/about-us.png" alt="Sobre nosotros" class="img-fluid">
                </div>
            </div>

            <div class="col-lg-6 col-md-12 about-title">
                <h2 class="text-uppercase pt-5 wow bounceInUp" data-wow-offset="10">
                    <span>Sobre Mi</span>
                </h2>

                <div class="paragraph py-4 wow bounceInRight" data-wow-offset="10">
                    <p class="para">
                        Estudiante de septimo semestre de ingenieria en sistemas en la universidad minuto de dios, residente de Funza Cundinamarca, tengo 21 años y soy apasionado por el desarrollo web y movil.
                    </p>
                    <p class="para">
                        Tengo conocimiento en lo relacionado con el Front-End en lenguajes como Javacript, HTML y CSS - Frameworks como Angular, Bootstrap, Jquery y Ajax - procesadores como TypeScript, Sass y Handlebars - Tecnologias como Webpack, Gulp, Github y Npm.
                    </p>
                    <p class="para">
                        Conocimiento en Back-End, donde he utilizado lenguajes como PHP y NodeJs - Bases de datos como Mysql y MongoDB.
                    </p>
                    <p class="para">
                        Interesado en seguir aprendiendo de mas temas de desarrollo, por eso me encuentro aprendiendo Firebase, reforzando NodeJS, conceptos de PWA y Flutter.
                    </p>
                </div>

                <button type="button" class="btn button primary-button text-uppercase wow bounceInDown"
                    data-wow-offset="10">
                    download cv
                </button>

            </div>

        </div>
    </div>
</section>