<!-- ----------------------------------Project area----------------------------------- -->
<div id="sec4" class="project-area">
    <div class="container">
        <div class="project-title pb-1">
            <h1 class="text-uppercase title-h1 text-center">Proyectos realizados</h1>
        </div>

        <div class="button-group d-flex justify-content-center ctn_btns_galery">
            <button type="button" id="btn-1" class="active">Todos</button>
            <button type="button" data-filter=".popular">Popular</button>
            <button type="button" data-filter=".latest">Ultimos</button>
            <button type="button" data-filter=".pronto">Pronto</button>
        </div>

        <div class="row grid ctn_projects">

            <!-- primero -->
            <div class="col-lg-4 col-md-6 col-sm-12 element-item latest mt-3">
                <div class="our-project">
                    <div class="img">
                        <a href="portfolio.html">
                            <img src="recursos/img/p1.png" width= "100%" alt="portafolio">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase"><a href="#" class="linksO" title="Ver mas">Maquetación youtube</a></h4>
                        <span class="text-secondary">Ultimos, portfolio</span>
                    </div>
                </div>
            </div>

            <!-- segundo -->
            <div class="col-lg-4 col-md-6 col-sm-12 element-item popular mt-3">
                <div class="our-project">
                    <div class="img">
                        <a href="portfolio.html">
                            <img src="recursos/img/p2.png" width= "100%" alt="portafolio">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase"><a href="#" class="linksO" title="Ver mas">Maquetación Tecnocolor</a></h4>
                        <span class="text-secondary">Popular, portfolio</span>
                    </div>
                </div>
            </div>
            <!-- tercero -->
            <div class="col-lg-4 col-md-6 col-sm-12 element-item popular mt-3">
                <div class="our-project">
                    <div class="img">
                        <a href="portfolio.html">
                            <img src="recursos/img/p3.png" width= "100%" alt="portafolio">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase"><a href="#" class="linksO" title="Ver mas">Moda Jeans ML</a></h4>
                        <span class="text-secondary">Ultimos, portfolio</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>